body {
  background-image: url('chicago.jpeg');
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  margin: 0;
}
#category-list,
#category-list ul {
    list-style: none;
}
#category-list {
    float: left;
}
#category-list > li {
    float: left;
}
#category-list li a {
display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    text-decoration: none;
}
#category-list ul {
    position: absolute;
    display: none;
z-index: 999;
}
#category-list ul li a {
    width: 80px;
}
#category-list li:hover ul {
    display: block;
}



#category-list {
float: left;
background: red;
width:800px;
}
#category-list li {
display: inline;
list-style-type: none;
padding-right: 20px;
float: left;
border-left: 1px solid #dcdcdc;
margin-top: .2em;
text-align: center;
margin-left: -1px;
height: 100%;
width: 16.5%;
display: table;
color: black;

}

.category-list {
  text-align: left;
  color: blue;

}


.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c22213) );
  background:-moz-linear-gradient( center top, #f24537 5%, #c22213 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c22213');
  background-color:#f24537;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #d02718;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:35px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #810e05;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c22213), color-stop(1, #f24537) );
  background:-moz-linear-gradient( center top, #c22213 5%, #f24537 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c22213', endColorstr='#f24537');
  background-color:#c22213;
}.button:active {
  position:relative;
  top:1px; 
  }
.name {
  background-color: white;
  border: Defaultpx solid #00ff00;
  color: black;
  font-size: 14;
  font-family: arial;
  font-style: normal;
  font-weight: ;
  padding: 4px;
    margin: 2px;

     }
.grade {
  background-color: white;
  border: Defaultpx groove #00ff00;
  color: black;
  font-size: 14;
  font-family: arial;
  font-style: normal;
  font-weight: ;
  padding: 4px;
    margin: 2px;

     }
.contact {
  background-color: white;
  border: Defaultpx solid #00ff00;
  color: black;
  font-size: 14;
  font-family: arial;
  font-style: normal;
  font-weight: ;
  padding: 4px;
    margin: 2px;

     }
.description {
  background-color: white;
  border: Defaultpx solid #00ff00;
  color: black;
  font-size: 14;
  font-family: arial;
  font-style: normal;
  font-weight: ;
  padding: 4px;
  margin: 10px;
     }

.post-list li {
  border: 5px solid red;
  border-radius: 10px;
  margin-bottom: 6px;
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px; 
  padding-left: 10px;
  padding-right: 10px;
}


.post .post-metadata {
  padding: 12px;
  position: relative;
    color: white;

}
.post .post-metadata .text-description{
  text-decoration: underline;
  color:white;
  }
.post .post-metadata .post-author {  
  color: white;

  /*display: inline-block;*/
}

.field {
  text-decoration: underline;
}

.post table {
  margin-left: 20px;
}
.post td {
  padding-right: 20px;
}

.post-list .post-time {
  text-align: right;
  }


.post .post-metadata .post-time {
    color: white;
  /*display: inline-block;*/

}

.post-list .post-description {
  padding: 12px;
  text-align: left;
  color: white;
 margin-bottom: 12px;
  margin-top: 0px;
}

#header {
  text-align: center;
  font-style: Courier;
  color:red;
  font-family: serif;
  font-size: 48px ;   
}

#body {
  text-align: center;
  
}
h1 {
  text-align: center; 
  color:red;
  background-color: gray;
}

#page {
  margin: 0 auto; /* This centers the #page div horizontally */
  width: 700px;
}

#page nav {
  margin: 20px 0;
}

#page nav ul {
  list-style: none; /* This gets rid of the left-hand-side dots */
  margin: 0;
  padding: 0;
}

#page nav li {
  display: inline-block; /* This makes the list display left-to-right rather than top-to-bottom */
  margin-right: 10px;
  color:red;
}

#post-form textarea {
  width: 400px;
  min-height: 50px;
}

#content {
  font: verdana;
}


#nav-plus-head-wrapper {
    background: white;
    height: 100px;
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
}

#topheader {
 color:white;
}

#topnav {
    background: red;
    position: relative;
    top: 0px;
    right: 0px;
}

.navli {
    display: inline;
    color:white;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}
a:visited {
  color: black;
}
