<html>
<style type="text/css">
<!-- 
A{text-decoration:none} 
-->
</style>


 <nav id="topnav">
        <ul id="topnav-ul">
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="/about">About</a></li>
            <li class="navli"><a href="/categories">Categories</a></li>
            <li class="navli"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<h1> Categories <h1>

 <h4> DIS HERE IS A LIST OF CATEGORIES </h4>
<div class="category-list">
  <ul id="category-list">
<li><a rel="stylesheet" href="/c">AP Books</a>
<ul>
                <li><a href="#">Book 1</a></li>
                <li><a href="#">Book 2</a></li>
                <li><a href="#">Book 3</a></li>
</ul></li>
<li><a rel="stylesheet" href="/">Calculators</a>
<ul>
                <li><a href="#">Book 1</a></li>
                <li><a href="#">Book 2</a></li>
                <li><a href="#">Book 3</a></li>
              </ul></li>
<li><a rel="stylesheet" href="/">SAT/ACT</a>
              <ul>
                <li><a href="#">Book 1</a></li>
                <li><a href="#">Book 2</a></li>
                <li><a href="#">Book 3</a></li>
              </ul>
</li>
<li><a rel="stylesheet" href="/">Graduation</a>
<ul>
                <li><a href="#">Book 1</a></li>
                <li><a href="#">Book 2</a></li>
                <li><a href="#">Book 3</a></li>
              </ul></li>
<li><a rel="stylesheet" href="/">Notes</a>
<ul>
                <li><a href="#">Book 1</a></li>
                <li><a href="#">Book 2</a></li>
                <li><a href="#">Book 3</a></li>
              </ul></li>

</ul>





</html>