<html>
 <nav id="topnav">
        <ul id="topnav-ul">
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="/about">About</a></li>
            <li class="navli"><a href="/categories">Categories</a></li>
            <li class="navli"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<h1> Categories <h1>

 <h4> DIS HERE IS A LIST OF CATEGORIES </h4>
 <ol class="category-list">
    <% Post::CATEGORIES.each do |category_name| %>
            <li><a rel="stylesheet" href="/?category=<%= category_name %>"><%= category_name %></a></li>
     <% end %>

</ol>


<html>