<html>
 <nav id="topnav">
        <ul id="topnav-ul">
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="/about">About</a></li>
            <li class="navli"><a href="/categories">Categories</a></li>
            <li class="navli"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<h1> Categories <h1>

 <h4> DIS HERE IS A LIST OF CATEGORIES </h4>
<div class="category-list">
<li><a rel="stylesheet" href="/c">AP Books</a></li>
<li><a rel="stylesheet" href="/">Calculators</a></li>
<li><a rel="stylesheet" href="/">Cap and Gowns</a></li>
<li><a rel="stylesheet" href="/">Notes</a></li>
<li><a rel="stylesheet" href="/">SAT/ACT Prep</a></li> 
<li><a rel="stylesheet" href="/">Lowell Gear</a></li> 
</div>


s
<html>