<html>
 <nav id="topnav">
        <ul id="topnav-ul">
            <li class="navli"><a href="/">Home</a></li>
            <li class="navli"><a href="/about">About</a></li>
            <li class="navli"><a href="/categories">Categories</a></li>
            <li class="navli"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<h1> Contacts <h1>

 <h4> DIS HERE IS A LIST OF CONTACTS</h4>

<html>