<!DOCTYPE html>s
<html lang="en">
	<head>
		<link rel="stylesheet" href="/normalize.css">
  		<link rel="stylesheet" href="/main.css">
	</head>
<h1 id="header" >Lowell List</h1>

<div id="post-form">
  <form action="/posts" method="post">
    <div>
      <textarea name="body"></textarea>
    </div>
    <div>
      <input type="submit" value="Post">
    </div>
  </form>
</div>

Hello!

<html>
