<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Read about normalize.css here: http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/main.css">
  <title>LowellList</title>
</head>
<body id="body">
  <div id="page">
    <nav>
      <ul id="Categories">
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
      </ul>
    </nav>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>